<p id="notice"><%= notice %></p>

<p>
  <strong>Ilość:</strong>
  <%= @vote.number %>
</p>

<p>


<p>
  <strong>Komitet:</strong>

  <%= @vote.committee.name %>
</p>
<%if current_user.okregowy? %>
<%= link_to 'Edit', edit_district_vote_path(@vote.district, @vote) %> 
<%= link_to 'Cofnij ', district_votes_path(@vote.district) %> 
<%end%>

